.reveal {
  font-size: 48px;
}
.reveal .slides {
  z-index: 20;
}
.reveal h1.statement {
  font-size: 4em;
  text-transform: none;
}
.reveal h6 {
  position: absolute;
  right: 0;
  text-align: right;
  top: -1.5em;
}
.reveal pre {
  font-size: 0.75em;
  white-space: pre;
  width: 100%;
  overflow: auto;
}
.reveal pre.large {
  font-size: 1em;
}
.reveal pre.small {
  font-size: 0.65em;
}
/** add class that has smaller font by default and bigger when it's an important code **/
.reveal pre code {
  max-height: none;
  padding: 15px;
}

.reveal .mainFooter {
  bottom: 0;
  border-top: solid 1px #d3d3d3;
  display: flex;
  font-size: 23px;
  left: 2%;
  justify-content: space-between;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 96%;
  z-index: 11;
}

.reveal .code-highlight {
  width: 100%;
  position: absolute;
  left: 0;
  border: 10px solid #98bdef;
  opacity: 0.8;
  box-sizing: border-box;
}
