.reveal .container-example {
    display: flex;

    background: #00ab44;
    border-radius: 5px;
    height: 500px;
    padding: 10px;
    overflow: hidden;
}
.reveal .item-example {
    background: #0093d7;
    border: 1px solid #222;
    border-radius: 5px;
    color: #222;
    padding: 10px;
    text-align: center;
}

.reveal .item-example-2 {
    font-size: smaller;
}

.reveal .item-example-4 {
    font-size: larger;
}
