.reveal .container-example {
    display: flex;

    background: whitesmoke;
    border-radius: 5px;
    box-sizing: border-box;
    height: 500px;
    padding: 10px;
    overflow: auto;
}
.reveal .item-example {
    background: #0093d7;
    border: 1px solid #222;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fef;
    padding: 10px;
    text-align: center;
    transition: background 500ms;
}
.reveal .item-example:hover {
    background: #008b44;
}

.reveal .item-example-2,
.reveal .item-example-7,
.reveal .item-example-10 {
    font-size: smaller;
}
.reveal .item-example-4,
.reveal .item-example-9 {
    font-size: larger;
}

.reveal .item-example-1,
.reveal .item-example-5,
.reveal .item-example-9 {
    padding-top: 25px;
    padding-bottom: 50px;
}
.reveal .item-example-3,
.reveal .item-example-6 {
    padding-top: 50px;
    padding-bottom: 75px;
}

/* Input Add-ons */
.reveal .inputAddOn {
    display: flex;
    height: 100px;
    margin-top: 1em;
}
.reveal .inputAddOn__field {
    flex: 1;
    font-size: 50px;
}
.reveal .inputAddOn__item {
    background: #0093d7;
    border: 1px solid #222;
    box-sizing: border-box;
    color: #fef;
    font-size: 50px;
    padding: 10px;
    text-align: center;
}

/* Data table */
.reveal .data-table th,
.reveal .data-table td {
    font-size: 35px;
    vertical-align: middle;
}
.reveal .data-table th {
    text-align: center;
}
