.input-example {
  font-size:72px;
  margin:50px 0;
  padding:10px;
  border:1px solid #000;
}
.input-example:valid {
  background: #ccff90;
}
.input-example:invalid {
  background: #ff8a80;
}

.reveal .collection-example {
    background: #00a8f2;
    border-radius: 5px;
    display: flex;
    height: 400px;
    padding: 10px;
    overflow: hidden;
}
.reveal .item-example {
    background: #00cc52;
    border: 1px solid #222;
    border-radius: 5px;
    color: #000;
    padding: 10px;
    text-align: center;
}
